
mat-toolbar{
  background: none;
  
  button{
    padding: 3px 20px;
    height: auto;
    margin-left: 14px;
  }
  .btn-ling{
    background-color: #000000;
  }
  
  .logo-svg svg{
    width: 148px;
    fill: rgb(229, 9, 20);
    cursor: pointer;
  }

  .spacer {
    flex: 1 auto;
    background-color: red;
    min-width: 100px;
    display: inline-block;
  }

  .search-field{
    flex: 1 auto;
  }

  mat-form-field input{
    color: white !important;
  }
  
}

