
.cadastro-componet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro{
    width: 100%;
    max-width: 40vw;
    min-height: 45vh;
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.838);
    color: white;
}

form{
    width: 100%;
}

mat-card-content, .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field{
    width: 72%;
    margin-top: 5px;
}

mat-form-field input{
    color: white !important;
}

@media screen and (max-width: 460px){
    .cadastro{
        max-width: 85vw;
    }
    mat-form-field{
        width: 90%;
    } 
}