
.cadastro-componet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro{
    width: 100%;
    max-width: 45vw;
    min-height: 45vh;
    padding: 10px;
}

form{
    width: 100%;
}

mat-card-content, .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field{
    width: 72%;
}

mat-form-field{
    margin-top: 5px;
}
