<app-toolbar/>
<section class="home">
    <div class="carousel-container">
        <carousel>
            <ng-container *ngFor="let item of sliders; let i = index">
                <slide>
                    <img class="img-slider" [src]="item.image">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>{{ item.title }}</h1>
                        <p>{{ item.text }}</p>
                    </div>
                </slide>
            </ng-container>
        </carousel>
    </div>
</section>
<app-section-carousel title="Últimos Lançamentos" [itemsSlide]="moviesLancamentos" [itemsPerSlide]="itemsPerSlide" [isLoading]="!moviesLancamentos"></app-section-carousel>
<app-section-carousel title="Mais Populares" [itemsSlide]="moviesPopular"  [itemsPerSlide]="itemsPerSlide" [isLoading]="!moviesPopular"></app-section-carousel>
<app-section-carousel title="Ação" [itemsSlide]="moviesAcao"  [itemsPerSlide]="itemsPerSlide" [isLoading]="!moviesAcao"></app-section-carousel>
<app-section-carousel title="Comédia" [itemsSlide]="moviesComedia"  [itemsPerSlide]="itemsPerSlide" [isLoading]="!moviesComedia"></app-section-carousel>
<app-section-carousel title="Romance" [itemsSlide]="moviesRomance"  [itemsPerSlide]="itemsPerSlide" [isLoading]="!moviesRomance"></app-section-carousel>
<app-section-carousel title="Terror" [itemsSlide]="moviesTerror"  [itemsPerSlide]="itemsPerSlide" [isLoading]="!moviesTerror"></app-section-carousel>
<app-footer/>