<div class="container-full">
    <section class="home">
        <app-toolbar></app-toolbar>

        <div class="carousel-container">
            <carousel>
                <ng-container *ngFor="let item of sliders; let i = index">
                    <slide>
                        <img class="img-slider" [src]="item.image">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{ item.title }}</h1>
                            <p>{{ item.text }}</p>
                        </div>
                    </slide>
                </ng-container>
            </carousel>
        </div>
    </section>

    <app-section-carousel title="Últimos Lançamentos" [itemsSlide]="moviesLancamentos" [itemsPerSlide]="itemsPerSlide"></app-section-carousel>
    <app-section-carousel title="Mais Populares" [itemsSlide]="moviesPopular"  [itemsPerSlide]="itemsPerSlide"></app-section-carousel>
</div>