<app-toolbar
    (searchMovies)="onChildeSearch($event)"
    (isLoading)="isLoadingEvent($event)"
>
</app-toolbar>
<section class="filmes">
    <div class="container">
        <div class="row">
            <div class="col-12" *ngIf="!!search">
            </div>
        </div>
    </div>
    
    <mat-grid-list cols="1">
        
        <h4 class="searchText"> <span>Resultado da busca por:</span> {{ search }} </h4>
        <div class="content-films">
            <div class="filme" *ngFor="let movie of movies">
                <img [src]="movie.midia?.post" [alt]="movie.title">
                <div class="detail" (click)="openModal(movie)">
                    <h5>{{ movie.title }}</h5>
                    <span>⭐{{ movie.vote_average }}</span>
                </div>
            </div>
        </div>

        <mat-paginator 
            [length]="length"
            [pageSize]="pageSize"
            (page)="onNextPage($event)"
            aria-label="Select page">
        </mat-paginator>

    </mat-grid-list>

    <div class="loading" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
</section>
<app-footer/>